doctype html
html
    head
        title Coucou
        link(rel="stylesheet", type="text/css", href="index.css")
    body
        h1 Gestion de la lumière !
        #time
        canvas#canvas
        br
        #error
        br
        fieldset
            legend Ports
            #availablePorts
            label Quantité de leds
                input#ledquantity(value='240')
                button.btn.btn-warning#initLeds Changer
        span Mode:
            .btn-group.modeButtons(data-toggle="buttons")
                label.btn.btn-primary
                    input.setMode(type="radio",name="mode",data-mode="color")
                    | Couleur
                label.btn.btn-primary
                    input.setMode(type="radio",name="mode",data-mode="music")
                    | Musique
                label.btn.btn-primary
                    input.setMode(type="radio",name="mode",data-mode="video")
                    | Video
        .panel.panel-default.colorPanel
            .panel-heading Couleur
            .panel-body
                button.btn.btn-primary#playRandom Couleurs aléatoires
                button.btn.btn-primary#fullRandom Couleurs très aléatoires
                input#color(type='color') couleur
                button.btn.btn-primary#applyColor Envoyer cette couleur
        .panel.panel-default.videoPanel
            .panel-heading Videos
            .panel-body
                fieldset
                    legend Disponibles:
                    #availableFiles
                fieldset
                    legend Envoi de fichier vidéo
                    label fichier vidéo :
                        input#file(type='file')
                    label ou url :
                        input#url(type='url') url
                    button.btn.btn-primary#sendFileOrUrl Envoyer
        .panel.panel-default.musicPanel
            .panel-heading Musique
            .panel-body
                label Delai entre chaque envoi de l'état de la musique au strip de led
                    input#minDelay
                    button.btn.btn-primary#setDelay Changer
                br
                label Random Color Delay
                    input#randomColorDelay
                    button.btn.btn-primary#setRandomColorDelay Changer
                br
                label fft min value
                    input#minValue
                    button.btn.btn-primary#setMinValue Changer
                fieldset
                    legend Options sonores
                    label sampleRate
                        input#sampleRate
                    br
                    label framesPerBuffer
                        input#framesPerBuffer
                    br
                    label interleaved
                        input#interleaved
                    br
                    label inputDevice
                        select.devices#inputDevice
                    label inputChannels
                        input#inputChannels
                    br
                    label outputDevice
                        select.devices#outputDevice
                    label outputChannels
                        input#outputChannels
                    br
                    label zero
                        input#zero
                    br
                    button.btn.btn-primary#setSoundConf Envoyer

        script(src="/socket.io/socket.io.js")
        script(src="index.js")
