doctype html
html
    head
        title Coucou
        link(rel="stylesheet", type="text/css", href="index.css")
    body
        h1 Gestion de la lumière !
        fieldset
            legend Couleur unie
            input#color(type='color') couleur
            button#applyColor Envoyer cette couleur
        fieldset
            legend Fichiers
            button#applyFile Envoyer fichier
        script(src="index.js")
