doctype html
html
    head
        title Coucou
        link(rel="stylesheet", type="text/css", href="index.css")
    body
        h1 Gestion de la lumière !
        -var baseSize=4;
        -var width=240*(baseSize+1)
        canvas#canvas(width=width, height="4")
        fieldset
            legend Ports
            #availablePorts
            label Quantité de leds
                input#ledquantity(value='240')
                button.btn.btn-warning#initLeds Changer
        fieldset
            legend Statut
            #status
            #error
        fieldset
            legend Musique
            button.btn.btn-primary#playMusic Suivre la musique (line in)
        fieldset
            legend Aléatoire
            button.btn.btn-primary#playRandom Couleurs aléatoires
        fieldset
            legend Couleur unie
            input#color(type='color') couleur
            button.btn.btn-primary#applyColor Envoyer cette couleur
        fieldset
            legend Fichiers
            #availableFiles
        fieldset
            legend Envoi de fichier vidéo
            label fichier vidéo :
                input#file(type='file')
            label ou url :
                input#url(type='url') url
            button.btn.btn-primary#sendFileOrUrl Envoyer

        script(src="/socket.io/socket.io.js")
        script(src="index.js")
