doctype html
html
    head
        title Coucou
        meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no")
        link(rel="stylesheet", type="text/css", href="index.css")
    body
        h1 Gestion de la lumière !
        #time
        canvas#canvas
        br
        #error
        br
        fieldset
            legend Ports
            #availablePorts
            label Quantité de leds
                input#ledquantity(value='240')
                button.btn.btn-warning#initLeds Changer
        span Mode:
            .btn-group.modeButtons(data-toggle="buttons")
                label.btn.btn-primary
                    input.setMode(type="radio",name="mode",data-mode="color")
                    | Couleur
                label.btn.btn-primary
                    input.setMode(type="radio",name="mode",data-mode="music")
                    | Musique
                label.btn.btn-primary
                    input.setMode(type="radio",name="mode",data-mode="video")
                    | Video
        .panel.panel-default.colorPanel
            .panel-heading Couleur
            .panel-body
                .btn-group.colorButtons(data-toggle="buttons")
                    label.btn.btn-primary
                        input.setColor(type="radio",name="color",data-color="fade")
                        | Couleurs aléatoires avec fondu
                    label.btn.btn-primary
                        input.setColor(type="radio",name="color",data-color="random")
                        | Couleurs aléatoires
                    label.btn.btn-primary
                        input.setColor(type="radio",name="color",data-color="fullrandom")
                        | Couleurs très aléatoires
                    label.btn.btn-primary
                        input.setColor(type="radio",name="color",data-color="specific")
                        | Couleur spécifique
                input#color(type='color') couleur
                br
                label
                    | Temps de fondu
                    input(type="number")#fadeDelay
                br
                label
                    | Random Color Delay
                    input(type="number")#randomColorDelay
        .panel.panel-default.videoPanel
            .panel-heading Videos
            .panel-body
                fieldset
                    legend Disponibles:
                    #availableFiles
                fieldset
                    legend Envoi de fichier vidéo
                    label fichier vidéo :
                        input#file(type='file')
                    label ou url :
                        input#url(type='url') url
                    button.btn.btn-primary#sendFileOrUrl Envoyer
        .panel.panel-default.musicPanel
            .panel-heading Musique
            .panel-body
                label Delai entre chaque envoi de l'état de la musique au strip de led
                    input(type="number")#minDelay
                br
                label fft min value
                    input(type="number")#minValue
                fieldset
                    legend Options sonores
                    label sampleRate
                        input(type="number")#sampleRate
                    br
                    label framesPerBuffer
                        input(type="number")#framesPerBuffer
                    br
                    label interleaved
                        select#interleaved
                            option(value="true") true
                            option(value="false") false
                    br
                    label inputDevice
                        select.devices#inputDevice
                    label inputChannels
                        input(type="number")#inputChannels
                    br
                    label outputDevice
                        select.devices#outputDevice
                    label outputChannels
                        input(type="number")#outputChannels
                    br
                    label zero
                        select#zero
                            option(value="true") true
                            option(value="false") false
                    br
                    button.btn.btn-primary#setSoundConf Envoyer

        script(src="/socket.io/socket.io.js")
        script(src="index.js")
