doctype html
html
    head
        title Coucou
        link(rel="stylesheet", type="text/css", href="index.css")
    body
        h1 Gestion de la lumière !
        #time
        canvas#canvas
        fieldset
            legend Ports
            #availablePorts
            label Quantité de leds
                input#ledquantity(value='240')
                button.btn.btn-warning#initLeds Changer
        fieldset
            legend Statut
            #status
            #error
        fieldset
            legend Musique
            button.btn.btn-primary#playMusic Suivre la musique (line in)
        fieldset
            legend Delay
            input#delay(value='50')
            button.btn.btn-primary#setDelay Changer
        fieldset
            legend Aléatoire
            button.btn.btn-primary#playRandom Couleurs aléatoires
        fieldset
            legend Couleur unie
            input#color(type='color') couleur
            button.btn.btn-primary#applyColor Envoyer cette couleur
        fieldset
            legend Fichiers
            #availableFiles
        fieldset
            legend Envoi de fichier vidéo
            label fichier vidéo :
                input#file(type='file')
            label ou url :
                input#url(type='url') url
            button.btn.btn-primary#sendFileOrUrl Envoyer
        fieldset
            legend Devices
            #soundDevices
        fieldset
            legend Options sonores
            label sampleRate
                input#sampleRate(value="44100")
            label framesPerBuffer
                input#framesPerBuffer(value="1024")
            label interleaved
                input#interleaved(value="false")
            label inputChannels
                input#inputChannels(value="1")
            label outputChannels
                input#outputChannels(value="1")
            label inputDevice
                input#inputDevice(value="")
            label outputDevice
                input#outputDevice(value="")
            label zero
                input#zero(value="false")
            button.btn.btn-primary#setSoundConf Envoyer

        script(src="/socket.io/socket.io.js")
        script(src="index.js")
